body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #222222;
    height: 288px;
    padding: 16px 0 0 0;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    height: 112px;
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 170px;
}
.button {
  background-color: #FFFFFF;
  margin-top: 35px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: #079A82;
  padding: 9px 139px;
  text-align: center;
  text-decoration: center;
  font-size: 13.5px;
  transition-duration: 0.2s;
  justify-content: center;
  verticalAlign: center;
  display: center;
  justify-content: center;
  margin: center;

}
.button:hover {
  background-color: #CFCFCF;
  color: white;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.menu-radio {
    margin-bottom: 6px;
    margin-left: 30px;
    font-weight: bold;
    color: #079A82;
}
.radio{
    margin-bottom: 6px;
    margin-left: 50px;

}


.menu-date {
    margin-bottom: 6px;
    margin-left: 70px;
    font-weight: bold;
    color: #079A82;
}

.date {
    margin-bottom: 6px;
    margin-left: 70px;

}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
